# Ignorar archivos HTML
*.html

# Ignorar capturas de pantalla
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg
*.webp

# Otras extensiones que quieras ignorar
*.log
*.tmp
*.bak
*.xml
*.json
*.txt

# Ignorar directorios específicos
screenshots/
html_reports/
